<h2>Contactos</h2>
<div class="container">
    <ul class="ks-cboxtags">
        <li *ngFor="let u of usuarios">
            <input type="checkbox" id="{{u.username}}" value="{{u.username}}" (change)="cambiarOpcion(u.username,$event)" *ngIf="u.username != nombre">
            <label for="{{u.username}}" *ngIf="u.username != nombre">{{u.username}}</label>
        </li>
    </ul>
</div>
<div class="row">
        <div class="offset-4 col-4">
            <button class="btn-msn btn-block" (click)="crearGrupo()">Crear grupo</button>
        </div>
    </div>
