<h2>Personas en la red social.</h2>
<div class="contactos" id="scrollbar">
    <label *ngFor="let u of usuarios" class="label">
        <div *ngIf="u.username != nombre" class="checkbox">
          <input class="form-check-input" type="checkbox" name="check" value="u.username" (change)="cambiarOpcion(u.username,$event)"/>
          <div class="toggle-inner">
             <div class="indicator"></div>
          </div>
          <div class="active-bg"></div>
        </div>
        <div *ngIf="u.username != nombre" class="label-text"> {{ u.username }} </div>
    </label>
</div>
<div class="row">
    <div class="offset-4 col-4">
        <button class="btn-msn btn-block" (click)="crearGrupo()">Crear grupo.</button>
    </div>
</div>
