.container{
  padding-top: 15px;
  width: 350px;
  text-align:  center;
 
}
.card{
  border-radius: 5px;
  box-shadow: 10px 10px 17px -12px rgba(0,0,0,0.75);
}
.card-header{
  color: white;
  background-color:	#428bca;
}
button{
  margin: 5px;
}